uvicorn ~= 0.23.2
fastapi ~= 0.103.0
email-validator ~= 2.0.0.post2
requests ~= 2.31.0
pydantic ~= 2.1.1
psycopg2-binary ~= 2.9.7
sqlalchemy ~= 2.0.19
pydantic-settings ~= 2.0.2
flaat ~= 1.1.14
gitpython ~= 3.1.32
cookiecutter ~= 2.3.0
httpx ~= 0.24.1
tox ~= 4.11.0